In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
bf = pd.read_csv("./Practice/datasets/bodyfat.csv")

In [3]:
bf.head()

   Bodyfat  Age  Weight  Height  Neck  Chest  Abdomen  Ankle  Biceps  Wrist
0     32.3   41  247.25   73.50  42.1  117.0    115.6   26.3    37.3   19.7
1     22.5   31  177.25   71.50  36.2  101.1     92.4   24.6    30.1   18.2
2     22.0   42  156.25   69.00  35.5   97.8     86.0   24.0    31.2   17.4
3     12.3   23  154.25   67.75  36.2   93.1     85.2   21.9    32.0   17.1
4     20.5   46  177.00   70.00  37.2   99.7     95.6   22.5    29.1   17.7

In [4]:
bf.isnull().sum()

Bodyfat    0
Age        0
Weight     0
Height     0
Neck       0
Chest      0
Abdomen    0
Ankle      0
Biceps     0
Wrist      0
dtype: int64

In [6]:
bf_x = bf.iloc[:, 1:]
bf_y = bf.iloc[:, 0]

In [7]:
bf_x.corr()

,Age,Weight,Height,Neck,Chest,Abdomen,Ankle,Biceps,Wrist
Age,1.000000,-0.097905,-0.268673,0.038501,0.072908,0.141339,-0.073522,-0.079398,0.216315
Weight,-0.097905,1.000000,0.568433,0.838977,0.916047,0.888317,0.790388,0.786266,0.755123
Height,-0.268673,0.568433,1.000000,0.370396,0.345312,0.265403,0.454985,0.435460,0.420928
Neck,0.038501,0.838977,0.370396,1.000000,0.789799,0.769086,0.664068,0.701067,0.777259
Chest,0.072908,0.916047,0.345312,0.789799,1.000000,0.922728,0.700092,0.730124,0.695795
Abdomen,0.141339,0.888317,0.265403,0.769086,0.922728,1.000000,0.643211,0.652148,0.672061
Ankle,-0.073522,0.790388,0.454985,0.664068,0.700092,0.643211,1.000000,0.650841,0.688320
Biceps,-0.079398,0.786266,0.435460,0.701067,0.730124,0.652148,0.650841,1.000000,0.630473
Wrist,0.216315,0.755123,0.420928,0.777259,0.695795,0.672061,0.688320,0.630473,1.000000

In [8]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [9]:
lr.fit(bf_x,bf_y)

LinearRegression()

In [12]:
pred_train  =lr.predict(bf_x)

In [13]:
error_train = bf_y - pred_train
error_train

0    -0.775765
1     4.408158
2     5.688873
3    -2.672889
4    -2.794541
        ...
95    2.525328
96    2.681626
97   -1.528299
98   -2.145555
99   -1.125269
Name: Bodyfat, Length: 100, dtype: float64

In [25]:
MSE= np.mean(np.square(bf_y-pred_train))
MSE

15.392269321317324

In [14]:
Rsquare = lr.score(bf_x,bf_y)
Rsquare

0.7574718145674211

In [15]:
N = bf_x.shape[0]
K = bf_x.shape[1]
AdjRsquare = 1- (1 - Rsquare*(N-1)/(N-K-1))
AdjRsquare

0.8332189960241632

In [18]:
mape_test = np.mean(np.abs(error_train*100/bf_y))
mape_test

24.344558471896907

In [19]:
feature_beta = pd.DataFrame({"Features" : bf_x.columns, "slope" : lr.coef_})
feature_beta

  Features     slope
0      Age  0.083779
1   Weight -0.083322
2   Height  0.035932
3     Neck  0.001123
4    Chest -0.138742
5  Abdomen  1.032741
6    Ankle  0.225943
7   Biceps  0.148276
8    Wrist -2.203399

In [26]:
from sklearn.linear_model import Ridge
r=Ridge()

In [27]:
r.fit(bf_x, bf_y)

Ridge()

In [38]:
pred_train1  =r.predict(bf_x)

error_train = bf_y - pred_train1
print('error_train', error_train)

MSE= np.mean(np.square(bf_y-pred_train1))
print('MSE', MSE)

Rsquare = r.score(bf_x,bf_y)
print('Rsquare', Rsquare)


N = bf_x.shape[0]
K = bf_x.shape[1]
AdjRsquare = 1- (1 - Rsquare*(N-1)/(N-K-1))
print('AdjRsquare', AdjRsquare)


mape = np.mean(np.abs(error_train*100/bf_y))
print('mape', mape)


feature_ridge = pd.DataFrame({"Features" : bf_x.columns, "slope" : r.coef_})
feature_ridge

error_train 0    -0.742377
1     4.382893
2     5.715564
3    -2.682204
4    -2.770437
        ...
95    2.536506
96    2.760310
97   -1.618541
98   -2.112244
99   -1.105428
Name: Bodyfat, Length: 100, dtype: float64
MSE 15.39405519966077
Rsquare 0.757443675387616
AdjRsquare 0.8331880429263776
mape 24.361844257788263

  Features     slope
0      Age  0.081634
1   Weight -0.084216
2   Height  0.033125
3     Neck -0.013236
4    Chest -0.136840
5  Abdomen  1.032791
6    Ankle  0.209326
7   Biceps  0.146750
8    Wrist -2.121046

In [34]:
from sklearn.linear_model import Lasso
L=Lasso()

In [35]:
L.fit(bf_x,bf_y)

Lasso()

In [39]:
pred_train1  =L.predict(bf_x)

error_train = bf_y - pred_train1
print('error_train', error_train)

MSE= np.mean(np.square(bf_y-pred_train1))
print('MSE', MSE)

Rsquare = L.score(bf_x,bf_y)
print('Rsquare', Rsquare)


N = bf_x.shape[0]
K = bf_x.shape[1]
AdjRsquare = 1- (1 - Rsquare*(N-1)/(N-K-1))
print('AdjRsquare', AdjRsquare)


mape = np.mean(np.abs(error_train*100/bf_y))
print('mape', mape)


feature_lasso = pd.DataFrame({"Features" : bf_x.columns, "slope" : L.coef_})
feature_lasso

error_train 0     0.248862
1     3.558969
2     6.246219
3    -2.673477
4    -1.787804
        ...
95    3.231391
96    5.709275
97   -4.733390
98   -1.403466
99   -0.631798
Name: Bodyfat, Length: 100, dtype: float64
MSE 17.037281202205275
Rsquare 0.7315521962084666
AdjRsquare 0.8047074158293133
mape 26.129722048340014

  Features     slope
0      Age  0.014595
1   Weight -0.135252
2   Height -0.000000
3     Neck -0.000000
4    Chest -0.000000
5  Abdomen  0.966888
6    Ankle -0.000000
7   Biceps  0.000000
8    Wrist -0.000000

In [40]:
feature_lasso[feature_lasso.slope==0]

  Features  slope
2   Height   -0.0
3     Neck   -0.0
4    Chest   -0.0
6    Ankle   -0.0
7   Biceps    0.0
8    Wrist   -0.0

In [41]:
len(feature_lasso[feature_lasso.slope==0])

6

In [42]:
cr = pd.read_csv('CreditRisk.csv')

In [43]:
cr.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [44]:
cr.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64